*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/UF2/20161107/DemoJUnit/nbproject/private/
/UF2/20161107/DemoJUnit/build/
/UF2/20161107/TarifesTeatre/nbproject/private/
/UF2/20161114/TarifesTeatre/build/
/UF2/20161121/Buelin/nbproject/private/