*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/UF2/20161107/DemoJUnit/nbproject/private/
/UF2/20161107/DemoJUnit/build/
/UF2/20161107/TarifesTeatre/nbproject/private/
/UF2/20161114/TarifesTeatre/build/
/UF2/20161121/Buelin/nbproject/private/
/UF2/20161201/Expenedora/nbproject/private/
/20161205/DemoCobertura/nbproject/private/
/20161205/DemoCobertura/build/
/20161205/DemoCobertura/dist/
/UF2/20161205/DemoCobertura/nbproject/private/
/UF2/20161205/DemoCobertura/build/
/UF2/20161205/DemoCobertura/dist/
/UF2/20161219/InjeccioDependencies/nbproject/private/
/UF2/20161219/InjeccioDependencies/build/
/UF2/20161219/InjeccioDependencies/dist/
/UF2/20161219/DemoInjeccioDAM/nbproject/private/
/UF2/20161219/DemoInjeccioDAM/build/
/UF2/20161219/DemoInjeccioDAM/dist/
/UF2/20170109/enunciat_exercici_aillament_base/enunciat_base/dist/
/UF2/20170109/enunciat_exercici_aillament_base/enunciat_base_dam/dist/